# Firebase Client Configuration (Optional for remote Firestore/Auth, falls back to demo mode if unset)
VITE_FIREBASE_API_KEY="AIzaSyALGO1_C-wqXW2zferOPa2_B7vUrwt5yWg"
VITE_FIREBASE_AUTH_DOMAIN="godytech-portfolio-29882.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="godytech-portfolio-29882"
VITE_FIREBASE_MESSAGING_SENDER_ID="409942352573"
VITE_FIREBASE_APP_ID="1:409942352573:web:e9220c1bb87984ad1d8dd4"
